name: FLEX CI
permissions:
  contents: read
  checks: write
  pull-requests: write

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build FLEX Bundle
        run: npm run build

      - name: Run Tests with Coverage
        # Because coverageThreshold is in jest.config.js, 
        # this step will fail if coverage is < 90%
        run: npm test -- --coverage 
        env:
          DEBUG: "true"

      - name: Upload Coverage Report
        # This keeps the HTML report available for 14 days in the "Actions" tab
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: coverage-report
          path: coverage/

      - name: Collect test coverage
        uses: ArtiomTr/jest-coverage-report-action@v2
